[submodule "Modules/m1_orientation_manager"]
	path = Modules/m1_orientation_manager
	url = git@github.com:Mach1Studios/m1_orientation_manager.git
[submodule "Modules/juce_murka"]
	path = Modules/juce_murka
	url = git@github.com:Kiberchaika/juce_murka.git
[submodule "Source/SimpleBLE"]
	path = Source/SimpleBLE
	url = git@github.com:OpenBluetoothToolbox/SimpleBLE.git
[submodule "Source/rs232"]
	path = Source/rs232
	url = git@github.com:Marzac/rs232.git
[submodule "JUCE"]
	path = JUCE
	url = git@github.com:juce-framework/JUCE.git
