[submodule "Source/SimpleBLE"]
	path = Source/SimpleBLE
	url = git@github.com:OpenBluetoothToolbox/SimpleBLE.git
[submodule "Source/rs232"]
	path = Source/rs232
	url = git@github.com:Marzac/rs232.git
[submodule "JUCE"]
	path = JUCE
	url = git@github.com:juce-framework/JUCE.git
