<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Label</key>
	<string>com.mach1.spatial.orientationmanager</string>
	<key>ProgramArguments</key>
	<array>
		<string>/Library/Application Support/Mach1/m1-orientationmanager</string>
		<string>--no-gui</string>
	</array>
	<key>StandardErrorPath</key>
	<string>/Library/Application Support/Mach1/m1-spatialsystem.log</string>
	<key>StandardOutPath</key>
	<string>/Library/Application Support/Mach1/m1-spatialsystem.log</string>
</dict>
</plist>
